@import url('https://fonts.googleapis.com/css2?family=poppins:wgth@300;400;500;600&display=swap');

*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    background: none;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 12;
   
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    

}

.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.3 sec ease;
}

.menu ul li a:hover {
    background: #fff;
    color: #000;
}

.img {
    background: url(cyber.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    
    
  
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
      
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
    padding: 0 20px;
    text-align: center;
    overflow-x: hidden;
    height: 700px;
}

.center .title {
    color: #fff;
    font-size: 85px;
    font-weight: 600;
    -webkit-text-stroke: 1px #d2d2d2;
    color: transparent;
    animation: floatImage 2s ease-in-out  ;
    margin-top: 230px;
   
}
   

@keyframes floatImage {
    0% {
        transform: translate3d(70rem , -12rem , 0);
    }
    50% {
        transform: translateY(-12rem);
    }
    
    100% {
        transform: translateY(0);
    }
}




.center .sub_title{
    color: #fff;
    font-size: 85px;
    font-weight: 600;
    animation: floatImage2 2s ease-in-out  ;
}

@keyframes floatImage2 {
    0% {
        transform: translate3d(-70rem , 12rem , 0);
    }
    50% {
        transform: translateY(12rem);
    }
    
    100% {
        transform: translateY(0);
    }
}



.center .btns {
    margin-top: 20px;
}

.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 1s ease;
}

.center .btns button:first-child{
    color: #fff;
    background: none;
}

.center .btns button:first-child:hover{
    background: #fff;
    color: #000;
}





